* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c1d8c3;
  font-size: 16px;
  color: #47685b;
  font-family: Roboto, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section > div {
  display: flex;
  gap: 100px;
}

.json-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.csv-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.save-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-file input {
  text-align: end;
  width: 70%;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.buttons div {
  background-color: #6a9c89;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  color: #fff5e4;
}

.buttons div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

input {
  background-color: #fff5e4;
  border: none;
  padding: 5px 2px;
  font-size: 16px;
}

.buttons button {
  width: 100px;
}

button {
  background-color: #6a9c89;
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  font-weight: bold;
  color: #47685b;
  transition: all 0.2s ease-in-out;
  color: #fff5e4;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
